.todo-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
